.confirmInfo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 20rem;
  min-height: 12.5rem;
  padding: 1.5rem;
  gap: 1rem;
  background-color: $background;
  font-size: 14px;
  color: $gray_font;

  input, select {
    width: 100%;
    height: 2rem;
    border: 1px solid $line_color;
    padding: 0.3rem;
    &:hover {
      border-color: $input_hover;
    }
    &:focus {
      border-color: $gray_font;
    }

    &::placeholder {
      text-transform: uppercase;
      color: $input_hover;
    }
  }
}