.header-wrapper {
  display: flex;
  background-color: $background;
  height: 4.5rem;
  width: 100%;
  border-bottom: 1px solid $line_color;
  order: 0;

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.5rem;

    &-link {
      text-transform: uppercase;
      color: $menu_bg;
      font-weight: 600;
      font-size: 1.3rem;
      transition: 0.3s;
      &:hover {
        color: $hover_btn;
      }

      @media screen and (max-width: 425px) {
        font-size: 1rem;
      }
    }
  }

  &__button {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      gap: 0.5rem;
      padding-left: 1rem;
    }

    img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

}